.faq-wrapper {
    font-family: Helvetica;
}

.faq-question {
    color: var(--tp-bright-purple);
    font-weight: bold;
    font-size: 2.9rem;
    letter-spacing: 0.2675rem;
}

.faq-answer {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    margin-top: 1.8rem;
    line-height: 2.2rem;
}