.park-sign-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tp-primary-blue);
  padding: 2rem;
  max-width: 75%;
  text-align: center;

  min-width: 50%;

  border: solid white;
  border-radius: 10px;
  margin: 2rem 0 2rem 0;
}

.sign-h1 {
  font-size: clamp(1.75rem, 1.21rem + 2.38vw, 3rem);
}

.sign-h1-large {
  display: inline-block;
  font-size: clamp(2.5rem, 1.43rem + 4.76vw, 5rem);
}

.sign-h1-small {
  display: inline-block;
  font-size: clamp(1rem, 0.68rem + 1.43vw, 1.75rem);
}
